@model Web.Dto.POSDbo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "-- Pilih Tipe Konsumen --",
        Value = "",
        Selected = true
    });
    listItems.Add(new SelectListItem
    {
        Text = "Agent",
        Value = "Agent",

    });
    listItems.Add(new SelectListItem
    {
        Text = "Corporate",
        Value = "Corporate",
    });
    listItems.Add(new SelectListItem
    {
        Text = "Counter",
        Value = "Counter",
    });
    listItems.Add(new SelectListItem
    {
        Text = "Hotel",
        Value = "Hotel",
    });
}
@{
    List<SelectListItem> listItems_periode = new List<SelectListItem>();
    listItems_periode.Add(new SelectListItem
    {
        Text = "Period I Tgl 1 - 15",
        Value = "P1",

    });
    listItems_periode.Add(new SelectListItem
    {
        Text = "Period II Tgl 16 - 31",
        Value = "P2",
    });

}

@{
    List<SelectListItem> listItems_Bulan = new List<SelectListItem>();
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Januari",
        Value = "1",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Februari",
        Value = "2",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Maret",
        Value = "3",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "April",
        Value = "4",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Mei",
        Value = "5",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Juni",
        Value = "6",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Juli",
        Value = "7",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Agustus",
        Value = "8",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "September",
        Value = "9",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Oktober",
        Value = "10",

    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "November",
        Value = "11",
    });
    listItems_Bulan.Add(new SelectListItem
    {
        Text = "Desember",
        Value = "12",

    });

}

@{
    List<SelectListItem> listItems_Tahun = new List<SelectListItem>();
    listItems_Tahun.Add(new SelectListItem
    {
        Text = "2018",
        Value = "2018",

    });
    listItems_Tahun.Add(new SelectListItem
    {
        Text = "2019",
        Value = "2019",

    });
    listItems_Tahun.Add(new SelectListItem
    {
        Text = "2020",
        Value = "2020",

    });
    listItems_Tahun.Add(new SelectListItem
    {
        Text = "2021",
        Value = "2021",

    });
    listItems_Tahun.Add(new SelectListItem
    {
        Text = "2022",
        Value = "2022",

    });
    listItems_Tahun.Add(new SelectListItem
    {
        Text = "2023",
        Value = "2023",

    });
    listItems_Tahun.Add(new SelectListItem
    {
        Text = "2024",
        Value = "2024",

    });
    listItems_Tahun.Add(new SelectListItem
    {
        Text = "2025",
        Value = "2025",

    });

}


<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
    }

    .ui-autocomplete {
        height: 100px;
    }
</style>




<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Invoice</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Invoice</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Data Invoice</h3>
        </div>
        <div class="box-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="col-sm-2 control-label">Customer Type </div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.customer_type, listItems, new { @class = "form-control", placeholder = "Customer Type" })
                        @Html.ValidationMessageFor(model => model.customer_type)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">Tahun Period</div>
                    <div class="col-sm-1">
                        @Html.DropDownList("period_invoice", listItems_Tahun, new { @class = "form-control", placeholder = "Transaction Type" })

                    </div>
                    <div class="col-sm-1 control-label">Bulan Period</div>
                    <div class="col-sm-1">
                        @Html.DropDownList("period_invoice", listItems_Bulan, new { @class = "form-control", placeholder = "Transaction Type" })

                    </div>
                    <div class="col-sm-1 control-label">Period</div>
                    <div class="col-sm-2">
                        @Html.DropDownList("period_invoice", listItems_periode, new { @class = "form-control", placeholder = "Transaction Type" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">Nama Pelanggan</div>
                    <div class="col-sm-3">
                        @*<input id="auto-complete">*@
                        @Html.EditorFor(model => model.customer_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nama Pelanggan", required = "required" } })
                    </div>
                    <div class="col-sm-1 control-label">CustID</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.customerid, new { @class = "form-control", placeholder = "Customer ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.customerid)

                    </div>

                    <div class="col-sm-1 control-label">Tipe </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.customer_type, new { @class = "form-control", placeholder = "Tipe Konsumen", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.customer_type)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">Alamat Pelanggan</div>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(model => model.customer_address, new { @class = "form-control", placeholder = "Alamat Pelanggan", disabled = "disabled", required = "required" })
                        @Html.ValidationMessageFor(model => model.customer_address)
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-success" id="search_data"><i class="fa fa-search"></i>&nbsp;&nbsp;Search</button>
                        <button type="submit" class="btn btn-primary" id="proses_invoice"><i class="fa fa-file"></i>&nbsp;&nbsp;Invoice</button>
                    </div>
                </div>


                <table id="mydatatable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                No. Nota
                            </th>

                            <th>
                                Cabang
                            </th>
                            <th>
                                Pelanggan
                            </th>
                            <th>
                                Tgl Transaksi
                            </th>

                            <th>
                                Jenis
                            </th>
                            <th>
                                Total
                            </th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>

            }

            <div>
                <a href="@Url.Action("Index")"><i class="fa fa-reply"></i>&nbsp;&nbsp;Kembali</a>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<!--  -->

<script type="text/javascript">
    $("#customer_name").autocomplete({
        source: function (request, response) {
            //var csname = 'Counter';
            $.ajax({
                type: "POST",
                url: "/POS/getName?Prefix=" + $('#customer_name').val(),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                //data: { Prefix: $('#customer_name').val() },
                success: function (data) {
                    var result = $.map(data, function (item) {
                        return {
                            label: item.nama_klien,
                            value: item.alamat,
                            customertype: item.tipe_konsumen,
                            id: item.kode_klien
                        };
                    });
                    return response(result);
                }
            });
        },
        select: function (event, ui) {
            event.preventDefault();
            $('#customer_name').val(ui.item.label);
            $('#customer_address').val(ui.item.value);
            $('#customerid').val(ui.item.id);
            $('#customer_type').val(ui.item.customertype);

        }
    });

    $("#search_data").click(function () {
        var strtr_type = $('#customer_type').val();
        var strCustId = $('#customerid').val();
        var strPeriode = $('#period_invoice').val();
        //alert('masuk sini');
        $.ajax({
            type: "post",
            url: "/Invoice/GetInvoice?CustomerType=" + strtr_type + "&CustomerId=" + strCustId + "&Periode=" + strPeriode,
            data: "[]",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var output = data.map(i => "<tr><td>"
                    + i.no_urut + "</td><td>"
                    + i.transaction_id + "</td><td>"
                    + i.BranchName + "</td><td>"
                    + i.customer_name + "</td><td>"
                    + i.transaction_date + "</td><td>"
                    + i.transaction_type + "</td><td>"
                    + i.nilai + "</td><td><input type='checkbox'  id='cbInvoice' name='cbInvoice' style='aligment-text:center;'></td></tr>");
                $("#tableBody").html(output);
            }
        })
    });

    $("#proses_invoice").click(function () {
        var strtr_type = $('#customer_type').val();
        var strCustId = $('#customerid').val();
        var strCustName = $('#customer_name').val();
        var strPeriode = $('#period_invoice').val();
       //alert('masuk sini');
        var dataInvoice = document.getElementById("mydatatable");
       // alert(dataInvoice);
        //insert detail =============================================
        var rows = [];
        for (var i = 1; i < dataInvoice.rows.length; i++) {
            var _id = dataInvoice.rows[i].cells[0].innerText;
            var _transaction_id = dataInvoice.rows[i].cells[1].innerText;
            var _checked = dataInvoice.rows[i].cells[7].firstChild.checked;
            if (_checked == true) {
                var row = _id + "|" + _transaction_id + "|" + strCustId + "|" + strCustName;
                rows.push(row);
            }
        }
 
        $.post('@Url.Action("create_invoice", "Invoice")', { rows: rows }, function (data) { });
    });


</script>
