
@model IEnumerable<Web.Dto.InvoiceDbo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Invoice</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">List Invoice</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Data List Invoice</h3>
        </div>
        <div class="box-body">
            <p>

                <a class="btn btn-success " href="@Url.Action("Index")" role="button"><i class="fa fa-plus"></i> Create Invoice</a>

            </p>
            <table id="mydatatable" class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>
                            Invoice No
                        </th>

                        <th>
                            Invoice Date
                        </th>
                        <th>
                            Customer Name
                        </th>

                        <th>
                            Total
                        </th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.invoice_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.invoice_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.customer_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nilai)
                            </td>

                            <td>
                                    <a class="text-primary" href="@Url.Action("Print", new { invoice_no=item.invoice_no })" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></a>
                                    <a class="text-primary" href="@Url.Action("PrintLampiran", new { invoice_no=item.invoice_no })" data-toggle="tooltip" title="Lampiran"><i class="fa fa-files-o"></i></a>
                                  
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
