@model IEnumerable<Web.Dto.Master_BarangDbo>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*@model Web.Dto.PO_HeaderDbo*@
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
    }

    .ui-autocomplete {
        height: 100px;
    }
</style>




<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Purchase Order</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Transaksi</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Tambah Data Purchase Order</h3>
        </div>
        <div class="box-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "saveform", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="col-sm-2 control-label">Nomor PO</div>
                    <div class="col-sm-3">
                        @Html.TextBox("PO_Number", (string)ViewBag.PO_number, new { @class = "form-control", placeholder = "PO Number", required = "required", disabled = "disabled" })
                        @*@Html.ValidationMessageFor("PO_Number")*@
                    </div>

                    <div class="col-sm-2 control-label">Tanggal PO </div>
                    <div class="col-sm-2">
                        @*@Html.TextBoxFor(model => model.PO_Date, new { @class = "form-control", placeholder = "PO Date", required = "required", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.PO_Date)*@
                        @Html.TextBox("PO_Date", DateTime.Today.ToString("dd/MM/yyyy"), new { id = "PO_Date", @class = "form-control", @disabled = "disabled" })
                        @Html.Hidden("PO_Date", DateTime.Today)
                    </div>
                </div>

                <div class="form-group">


                    <div class="col-sm-2 control-label">Nama Supplier</div>
                    <div class="col-sm-3">
                        @*<input id="auto-complete">*@
                        @Html.Editor("customername", new { htmlAttributes = new { id = "customername", @class = "form-control", placeholder = "Nama Supplier ", required = "required" } })
                    </div>

                    <div class="col-sm-2 control-label">Kode Supplier</div>
                    <div class="col-sm-2">
                        @Html.TextBox("customerid", null, new { id = "customerid", @class = "form-control", placeholder = "Kode SUpplier", required = "required", disabled = "disabled" })

                    </div>


                </div>
                <div class="form-group">

                    <div class="col-sm-2 control-label">Rencana Kirim</div>
                    <div class="col-sm-3">
                        @Html.TextBox("DeliveryDatePlan", null, new { id = "DeliveryDatePlan", @class = "form-control", placeholder = "Rencana Kirim", required = "required" })
                    </div>

                    <div class="col-sm-2 control-label">Cara Bayar</div>
                    <div class="col-sm-2">

                        @*@Html.DropDownList("Term_Of_Payment", new SelectList(ViewBag.TOPList, "Id", "nama"), new { @class = "form-control" })
        @Html.Hidden("Term_Of_Payment", new SelectList(ViewBag.TOPList, "Id", "nama"))*@

                        @Html.DropDownList("Term_Of_Payment", ViewBag.TOPList as SelectList, new { @class = "form-control" })
                        @*@Html.ValidationMessageFor("Term_Of_Payment")*@
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Keterangan</div>
                    <div class="col-sm-7">
                        @Html.TextArea("PO_Description", new { rows = 3, columns = 40, @class = "form-control", placeholder = "Keterangan" })
                    </div>
                </div>


                <div class="form-group">


                    <div class="col-sm-2 control-label">Nama Client</div>
                    <div class="col-sm-3">
                        @Html.TextBox("billto", null, new { id = "billto", @class = "form-control", placeholder = "Bill To", required = "required" })
                    </div>

                    <div class="col-sm-2 control-label">Kode Client</div>
                    <div class="col-sm-2">
                        @Html.TextBox("billto_id", null, new { id = "billto_id", @class = "form-control", placeholder = "Kode Client", required = "required", disabled = "disabled" })
                    </div>
                </div>


                <div class="box-header with-border">
                    <h3 class="box-title">Tambah Data Barang</h3>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-1 control-label">Kode Barang</div>
                    <div class="col-sm-1">
                        @Html.TextBox("item_code", null, new { id = "item_code", @class = "form-control", placeholder = "Kode Barang", required = "required", disabled = "disabled" })

                    </div>


                    <div class="col-sm-1 control-label">
                        Nama Barang
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBox("item_name", null, new { id = "item_name", @class = "form-control", placeholder = "Nama Barang", required = "required", disabled = "disabled" })

                    </div>

                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#barangModal">
                            &nbsp;<i class="fa fa-search"></i>
                            Cari
                        </button>

                    </div>

                    <div class="col-sm-1 control-label">Harga</div>
                    <div class="col-sm-2">
                        @Html.TextBox("item_price", null, new { id = "item_price", @class = "form-control", @type = "number", placeholder = "Harga Barang", required = "required", disabled = "disabled" })

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1 control-label">Stock</div>
                    <div class="col-sm-1">
                        @Html.TextBox("stock", null, new { id = "stock", @class = "form-control", placeholder = "Stock", @type = "number", required = "required", disabled = "disabled" })

                    </div>

                    <div class="col-sm-1 control-label">Qty</div>
                    <div class="col-sm-1">
                        @Html.TextBox("qty", null, new { id = "qty", @class = "form-control", placeholder = "Qty", @type = "number" })

                    </div>
                    <div class="col-sm-4">
                        <button type="button" onclick="insertIntoTable()" class="btn btn-success" data-toggle="modal" data-target="">
                            &nbsp;<i class="fa fa-plus"></i>
                            Tambah&nbsp;
                        </button>
                    </div>

                </div>
                <div class="box-header with-border">
                    <h3 class="box-title">Detail Barang</h3>
                </div>
                <br />

                <table id="tabelBarang" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Kode Barang
                            </th>
                            <th>
                                Nama Barang
                            </th>

                            <th>
                                Harga
                            </th>
                            <th>
                                Qty
                            </th>
                            <th>
                                Total
                            </th>

                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2 text-right">
                        <button type="submit" name="savedata" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Simpan</button>
                    </div>
                </div>
            }
            <div>
                <a href="@Url.Action("Index")"><i class="fa fa-reply"></i>&nbsp;&nbsp;Kembali</a>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal" id="barangModal">
    <div class="modal-dialog" style="width:1250px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">List Barang</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="mydatatablePopup" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Kode Barang
                            </th>
                            <th>
                                Nama Barang
                            </th>

                            <th>
                                Kategori
                            </th>
                            <th>
                                Harga
                            </th>
                            <th>
                                 Qty Stock
                            </th>

                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row1">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ItemDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Group_Desc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price_Inventory)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Stock)
                                </td>
                    <td>
                        <button type="button" class="btnSelect btn btn-primary" data-toggle="modal" data-target="#barangModal">
                            &nbsp;<i class="fa fa-check"></i>
                            Pilih
                        </button>
                    </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

    function insertIntoTable() {

        var _kodeBarang = $('#item_code').val();
        var _qty = $('#qty').val();


        if (_kodeBarang == "") {
            alert("Barang harus di pilih terlebih dahulu")
        }
        else {
            if (_qty == "" || _qty == 0) {
                alert("QTY tidak boleh kosong atau kurang dari 1")
            }
            else {
                var qty_Tabel;
                var total_Tabel;
                var _id = $('#item_code').val();
                var strValue = getstatusID(_id);
                /*alert(qty_Tabel);*/
                if (strValue == "") {
                    var table = document.getElementById("tabelBarang");
                    var row = table.insertRow(1);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    var cell6 = row.insertCell(5);
                    cell1.innerHTML = $('#item_code').val();
                    cell2.innerHTML = $('#item_name').val();
                    cell3.innerHTML = $('#item_price').val();
                    cell4.innerHTML = $('#qty').val();

                    //let inputQTY = document.createElement('input');
                    //inputQTY.type = 'text';
                    //cell4.appendChild(inputQTY);

                    cell5.innerHTML = $('#qty').val() * $('#item_price').val();

                    let button = document.createElement('button');
                    button.innerText = 'Delete';
                    button.type = 'button';
                    button.setAttribute('onclick', 'DeleteRowInGrid(this)');
                    cell6.appendChild(button);
                }
                else {//update di data gridnya
                    var new_itemcode = $('#item_code').val();
                    var new_itemname = $('#item_name').val();
                    var new_itemprice = $('#item_price').val();
                    var new_qty = $('#qty').val();

                    //alert(strValue);
                    //alert(total_Tabel);
                }

                $('#item_code').val('');
                $('#item_name').val('');
                $('#item_price').val('');
                $('#stock').val('');
                $('#qty').val('');
            }
        }
    }

    function getstatusID(_id) {
        var strValue = "";
        var qty_Tabel = "";
        var total_Tabel = "";
        var price = "";
        var temp_qty = $('#qty').val();
        var new_qty = "";
        var new_price = "";
        var tableBarang = document.getElementById("tabelBarang");
        var rows = [];
        for (var i = 0; i < tableBarang.rows.length; i++) {
            var idOnTable = tableBarang.rows[i].cells[0].innerText;
            if (idOnTable == _id) {
                price = tableBarang.rows[i].cells[2].innerText;
                qty_Tabel = tableBarang.rows[i].cells[3].innerText;
                total_Tabel = tableBarang.rows[i].cells[4].innerText;
                strValue = qty_Tabel + "|" + total_Tabel;
                new_qty = parseInt(qty_Tabel) + parseInt(temp_qty);
                new_price = parseInt(new_qty) * parseFloat(price);
                tableBarang.rows[i].cells[3].innerHTML = new_qty;
                tableBarang.rows[i].cells[4].innerHTML = new_price;
                return strValue;
            }
        }
        return strValue;
    }
    $("#mydatatablePopup").on('click', '.btnSelect', function () {
        // get the current row
        var currentRow = $(this).closest("tr");

        var col1 = currentRow.find("td:eq(0)").text(); // get current row 1st TD value
        var col2 = currentRow.find("td:eq(1)").text(); // get current row 2nd TD
        var col3 = currentRow.find("td:eq(2)").text(); // get current row 3rd TD
        var col4 = currentRow.find("td:eq(3)").text(); // get current row 3rd TD
        var col5 = currentRow.find("td:eq(4)").text(); // get current row 3rd TD
        var data = col1 + "\n" + col2 + "\n" + col3;

        $('#item_code').val(col1.trim());
        $('#item_name').val(col2.trim());
        $('#item_price').val(col4.trim());
        $('#stock').val(col5.trim());
    });


    function DeleteRowInGrid(r) {
        //var d = document.getElementById("tabelBarang");
        //r.remove().row(1);
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById('tabelBarang').deleteRow(1);
        alert("Hi");
    }
    function deleteRow(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
    $("#DeliveryDatePlan").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    })
    $("#customername").autocomplete({
        source: function (request, response) {
            //var csname = 'Counter';
            $.ajax({
                type: "POST",
                url: "/PO/getName?Prefix=" + $('#customername').val(),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                //data: { Prefix: $('#customer_name').val() },
                success: function (data) {
                    var result = $.map(data, function (item) {
                        return {
                            label: item.nama_suplier,
                            value: item.alamat,
                            id: item.kode_suplier
                        };
                    });
                    return response(result);
                }
            });
        },
        select: function (event, ui) {
            event.preventDefault();
            $('#customername').val(ui.item.label);
            $('#customerid').val(ui.item.id);

        }
    });

    $("#billto").autocomplete({
        source: function (request, response) {
            //var csname = 'Counter';
            $.ajax({
                type: "POST",
                url: "/PO/getNameBillTo?Prefix=" + $('#billto').val(),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                //data: { Prefix: $('#customer_name').val() },
                success: function (data) {
                    var result = $.map(data, function (item) {
                        return {
                            label: item.nama_klien,
                            id: item.kode_klien
                        };
                    });
                    return response(result);
                }
            });
        },
        select: function (event, ui) {
            event.preventDefault();
            $('#billto').val(ui.item.label);
            $('#billto_id').val(ui.item.id);
      
        }
    });

    $('#saveform').submit(function () {

        //alert('kesini');
        var sTableName = document.getElementById("tabelBarang");
        //alert(sTableName.rows.length);
        //insert detail =============================================
        //alert(sTableName.rows.length);
        if (sTableName.rows.length < 2) {
            alert("Detail Barang Masih Kosong");
        }
        else {
            var rows = [];
            for (var i = 1; i < sTableName.rows.length; i++) {
                var _item_code = sTableName.rows[i].cells[0].innerText;
                var _nama_barang = sTableName.rows[i].cells[1].innerText;
                var _harga = sTableName.rows[i].cells[2].innerText;
                var _qty = sTableName.rows[i].cells[3].innerText;
                var _total = sTableName.rows[i].cells[4].innerText;
                var row = _item_code + "|" + _nama_barang + "|" + _harga + "|" + _qty + "|" + _total;
                rows.push(row);
            }
            //detail -====================================================
            //insert to header====================
            var _ponumber = $("#PO_Number").val();
            var _podate = $("#PO_Date").val();
            var _customer_id = $("#customerid").val();
            var _customer_name = $("#customername").val();
            var _delivery_date_plane = $("#DeliveryDatePlan").val();
            var _tof = $("#Term_Of_Payment").val();
            var _po_desc = $("#PO_Description").val();
            var _billto_name = $("#billto").val();
            var _billto_id = $("#billto_id").val(); 

            var _header = _ponumber + '|' + _podate + '|' + _customer_id + '|' + _customer_name + '|' + _delivery_date_plane + '|' + _tof + '|' + _po_desc + '|' + _billto_id + '|' + _billto_name
            // header ============================
            $.post('@Url.Action("Create", "PO")', { rows: rows, header: _header }, function (data) { });
        }

    });

    $("#DeliveryDatePlan").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    })

</script>







