@model Web.Dto.PODbo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
    }

    .ui-autocomplete {
        height: 100px;
    }
</style>




<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Purchase Order</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Transaksi</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Tambah Data Purchase Order</h3>
        </div>
        <div class="box-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "saveform", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="col-sm-2 control-label">PO Number</div>
                    <div class="col-sm-3">
                        @Html.TextBox("PO_Number",null, new {  @class = "form-control", placeholder = "PO Number", required = "required", disabled = "disabled" })
                        @*@Html.ValidationMessageFor("PO_Number")*@
                    </div>



                    <div class="col-sm-2 control-label">PO Date </div>
                    <div class="col-sm-2">
                        @*@Html.TextBoxFor(model => model.PO_Date, new { @class = "form-control", placeholder = "PO Date", required = "required", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.PO_Date)*@
                        @Html.TextBox("PO_Date", DateTime.Today.ToString("dd/MM/yyyy"), new { id = "PO_Date", @class = "form-control", @disabled = "disabled" })
                        @Html.Hidden("PO_Date", DateTime.Today)
                    </div>
                </div>

                <div class="form-group">


                    <div class="col-sm-2 control-label">Customer Name</div>
                    <div class="col-sm-3">
                        @*<input id="auto-complete">*@
                        @Html.Editor("customer_name", new { htmlAttributes = new { id = "customer_name", @class = "form-control", placeholder = "Customer Name ", required = "required" } })
                    </div>

                    <div class="col-sm-2 control-label">Cus ID</div>
                    <div class="col-sm-2">
                        @Html.TextBox("customerid", null,new { id = "customerid", @class = "form-control", placeholder = "Delivery Date", required = "required", disabled = "disabled" })
                       
                    </div>


                </div>
                <div class="form-group">

                    <div class="col-sm-2 control-label">Delivery Date Plane</div>
                    <div class="col-sm-3">
                        @Html.TextBox("DeliveryDatePlan", null,new { id = "DeliveryDatePlan", @class = "form-control", placeholder = "Delivery Date Plane", required = "required" })
                 
                    </div>

                    <div class="col-sm-2 control-label">Term Of Payment</div>
                    <div class="col-sm-2">
                        @Html.TextBox("Term_Of_Payment", null, new { id = "Term_Of_Payment", @class = "form-control", placeholder = "Term Of Payment", required = "required" })
                      
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">PO Description </div>
                    <div class="col-sm-4">
                        @Html.TextBox("PO_Description",null, new { id = "PO_Description", @class = "form-control", placeholder = "PO Description", required = "required" })
                       
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Tambah Data Barang</h3>
                </div>
                <br/>
                <div class="form-group">
                    <div class="col-sm-1 control-label">Kode Barang</div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(model => model.PO_number, new { @class = "form-control", placeholder = "Kode Barang", required = "required", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.PO_number)
                    </div>


                    <div class="col-sm-1 control-label">
                        Nama Barang
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.customerid, new { @class = "form-control", placeholder = "Nama Barang", required = "required", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.customerid)

                    </div>

                    <div class="col-sm-1">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#barangModal">
                            &nbsp;<i class="fa fa-search"></i>
                            Cari
                        </button>

                    </div>

                    <div class="col-sm-1 control-label">Harga</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.PO_number, new { @class = "form-control", placeholder = "Kode Barang", required = "required", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.PO_number)
                    </div>

                    <div class="col-sm-1 control-label">Qty</div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(model => model.PO_number, new { @class = "form-control", placeholder = "Qty", required = "required", })
                        @Html.ValidationMessageFor(model => model.PO_number)
                    </div>
                    <div class="col-sm-1">

                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="">
                            &nbsp;<i class="fa fa-plus"></i>
                            Tambah
                        </button>
                    </div>

                </div>
                <table id="tabelBarang" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Nama Barang
                                @*@Html.DisplayNameFor(model => model.Username)*@
                            </th>
                            <th>
                                Kode Barang
                                @*@Html.DisplayNameFor(model => model.FullName)*@
                            </th>
                            <th>
                                Kategori
                                @*@Html.DisplayNameFor(model => model.LastLogin)*@
                            </th>
                            <th>
                                UoM
                                @*@Html.DisplayNameFor(model => model.LastLogin)*@
                            </th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
               

                <div class="form-group">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2 text-right">
                        <button type="submit" name="savedata" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Simpan</button>
                    </div>
                </div>
            }
            <div>
                <a href="@Url.Action("Index")"><i class="fa fa-reply"></i>&nbsp;&nbsp;Kembali</a>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal" id="barangModal">
    <div class="modal-dialog" style="width:1250px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">List Barang</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="mydatatable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Nama Barang
                                @*@Html.DisplayNameFor(model => model.Username)*@
                            </th>
                            <th>
                                Kode Barang
                                @*@Html.DisplayNameFor(model => model.FullName)*@
                            </th>
                            <th>
                                Kategori
                                @*@Html.DisplayNameFor(model => model.LastLogin)*@
                            </th>
                            <th>
                                UoM
                                @*@Html.DisplayNameFor(model => model.LastLogin)*@
                            </th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

    $("#DeliveryDatePlan").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    })
    $("#customername").autocomplete({
        source: function (request, response) {
            //var csname = 'Counter';
            $.ajax({
                type: "POST",
                url: "/PO/getName?Prefix=" + $('#customername').val(),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                //data: { Prefix: $('#customer_name').val() },
                success: function (data) {
                    var result = $.map(data, function (item) {
                        return {
                            label: item.nama_klien,
                            value: item.alamat,
                            customertype: item.tipe_konsumen,
                            id: item.kode_klien
                        };
                    });
                    return response(result);
                }
            });
        },
        select: function (event, ui) {
            event.preventDefault();
            $('#customername').val(ui.item.label);
            $('#customerid').val(ui.item.id);

        }
    });

    $('#saveform').submit(function () {
        var sTableName = document.getElementById("tabelBarang");

        var date = new Date();
        var dateStr =
            date.getFullYear() +
            ("00" + (date.getMonth() + 1)).slice(-2) +
            ("00" + date.getDate()).slice(-2) +
            ("00" + date.getHours()).slice(-2) +
            ("00" + date.getMinutes()).slice(-2) +
            ("00" + date.getSeconds()).slice(-2);
        var _transid = 'TR-' + dateStr;//+ time.toString();.

        //insert detail =============================================
        var rows = [];
        for (var i = 2; i < sTableName.rows.length; i++) {
            var _id = sTableName.rows[i].cells[0].innerText;
            var _name = sTableName.rows[i].cells[1].innerText;
            var _qty_laundry = sTableName.rows[i].cells[2].firstChild.value;
            var _qty_drycleaning = sTableName.rows[i].cells[3].firstChild.value;
            var _remark = sTableName.rows[i].cells[4].firstChild.value;
            var row = _id + "|" + _name + "|" + _qty_laundry + "|" + _qty_drycleaning + "|" + _remark;
            rows.push(row);
        }
        //detail -====================================================
        //insert to header====================
        var _transactionType = $("#transaction_type").val();
        var _customer_name = $("#customer_name").val();
        var _room = $("#room").val();
        var _receiveddate = $("#receiveddate").val();
        var _customer_address = $("#customer_address").val();
        var _customer_type = $("#customer_type").val();
        var _customer_id = $("#customerid").val();
        var _estimasi_selesai = $("#estimasi_selesai").val();
        var _header = _transactionType + '|' + _transid + '|' + _customer_name + '|' + _room + '|' + _customer_address + '|' + _customer_type + '|' + _customer_id + '|' + _estimasi_selesai

        // header ============================
       // $.post('@Url.Action("ProccessDetail", "POS")', { rows: rows, transactionid: _transid, header: _header }, function (data) { });

    });
</script>







