
<li class="treeview">
    <a href="#">
        <i class="fa fa-cog"></i><span>SETTING</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>

    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Pengguna </a></li>
        <li><a href="@Url.Action("Index", "Test2")"><i class="fa fa-caret-right"></i>Menu</a></li>
        <li><a href="@Url.Action("Index", "Test3")"><i class="fa fa-caret-right"></i>Group</a></li>
        <li><a href="@Url.Action("Index", "CompanyProfile")"><i class="fa fa-caret-right"></i>Perusahaan</a></li>
        <li><a href="@Url.Action("Index", "Parameter")"><i class="fa fa-caret-right"></i>Parameter </a></li> 
        
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>MASTER</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "Barang")"><i class="fa fa-caret-right"></i>Barang  </a></li>
        <li><a href="@Url.Action("Index", "Supplier")"><i class="fa fa-caret-right"></i>Supplier </a></li>
        <li><a href="@Url.Action("Index", "Client")"><i class="fa fa-caret-right"></i>Konsumen </a></li>
        <li><a href="@Url.Action("Index", "Bank")"><i class="fa fa-caret-right"></i>Bank </a></li>
        <li><a href="@Url.Action("Index", "Employee")"><i class="fa fa-caret-right"></i>Pegawai </a></li>

        <li><a href="@Url.Action("Index", "Pricelist")"><i class="fa fa-caret-right"></i>Price List</a></li>
        <li><a href="@Url.Action("Index", "COA")"><i class="fa fa-caret-right"></i>Chart of Account </a></li>
        <li><a href="@Url.Action("Index", "AR")"><i class="fa fa-caret-right"></i>Piutang </a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>POS</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "POS")"><i class="fa fa-caret-right"></i>Transaksi POS</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>INVENTORY</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Pembelian Barang</a></li>
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Penerimaan Barang</a></li>
        <li><a href="@Url.Action("Index", "BOM")"><i class="fa fa-caret-right"></i>Setting BOM</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>KEUANGAN</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Hutang</a></li>
        <li><a href="@Url.Action("Index", "AR")"><i class="fa fa-caret-right"></i>Piutang</a></li>
        <li><a href="@Url.Action("Index", "ARAging")"><i class="fa fa-caret-right"></i>Umur Piutang</a></li>
        <li><a href="@Url.Action("Index", "Cash")"><i class="fa fa-caret-right"></i>Cashflow </a></li>
        @*<li><a href="@Url.Action("filterPerusahaan", "Invoice")"><i class="fa fa-caret-right"></i>Invoice </a></li>*@
        <li><a href="@Url.Action("list_invoice", "Invoice")"><i class="fa fa-caret-right"></i>Invoice </a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>Laporan</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "Report")"><i class="fa fa-caret-right"></i>Report</a></li>
    </ul>
</li>
<li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i><span>Documentation</span></a></li>
