
<li class="treeview">
    <a href="#">
        <i class="fa fa-cog"></i><span>SETTING</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>

    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Pengguna </a></li>
        <li><a href="@Url.Action("Index", "Test2")"><i class="fa fa-caret-right"></i>Menu</a></li>
        <li><a href="@Url.Action("Index", "Test3")"><i class="fa fa-caret-right"></i>Group</a></li>
        <li><a href="@Url.Action("Index", "Test3")"><i class="fa fa-caret-right"></i>Company Profile</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>MASTER</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "Barang")"><i class="fa fa-caret-right"></i>Barang  </a></li>
        <li><a href="@Url.Action("Index", "Client")"><i class="fa fa-caret-right"></i>Supplier </a></li>
        <li><a href="@Url.Action("Index", "Client")"><i class="fa fa-caret-right"></i>Konsumen </a></li>
        <li><a href="@Url.Action("Index", "Bank")"><i class="fa fa-caret-right"></i>Bank </a></li>
        <li><a href="@Url.Action("Index", "Parameter")"><i class="fa fa-caret-right"></i>Parameter </a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>POS</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Transaksi POS</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>INVENTORY</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Pembelian Barang</a></li>
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Penerimaan Barang</a></li>
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Setting BOM</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>KEUANGAN</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Hutang</a></li>
        <li><a href="@Url.Action("Index", "User")"><i class="fa fa-caret-right"></i>Piutang</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-flickr"></i><span>Laporan</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Index", "Report")"><i class="fa fa-caret-right"></i>Report</a></li>
    </ul>
</li>
<li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i><span>Documentation</span></a></li>
