
@model IEnumerable<Web.Dto.Report_AP_Aging_Dbo>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Umur Hutang</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Detail Umur Hutang</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Detail Data Umur Hutang</h3>
        </div>
        <div class="box-body">
            <p>

                <a class="btn btn-warning " href="@Url.Action("Print")" role="button"><i class="fa fa-print"></i> Print</a>

            </p>
            <table id="mydatatable" class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>
                            Cabang
                        </th>

                        <th>
                            Konsumen
                        </th>
                        <th>
                            Nomor Invoice
                        </th>
                        <th>
                            Tanggal Invoice
                        </th>
                        <th>
                            Nilai Piutang
                        </th>
                        <th>
                            Belum Jatuh Tempo
                        </th>
                        <th>
                            1 - 30 hari
                        </th>
                        <th>
                            31 - 60 hari
                        </th>
                        <th>
                            61 - 90 hari
                        </th>
                        <th>
                            > 90 hari
                        </th>

                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.cabang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.supplier_id) - @Html.DisplayFor(modelItem => item.supplier_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.gr_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.gr_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.curr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.a0130)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.a3160)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.a6190)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.a91)
                            </td>
                            <td>
                                <a class="text-primary" href="@Url.Action("Details", new { id=item.supplier_id })" data-toggle="tooltip" title="Detail"><i class="fa fa-search"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <a href="@Url.Action("Index")"><i class="fa fa-reply"></i>&nbsp;&nbsp;Kembali</a>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
