@model Web.Dto.Master_BarangDbo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Item / Barang</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Item / Barang</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Tambah Item / Barang</h3>
        </div>
        <div class="box-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="form-group">
                    <div class="col-sm-2 control-label">Nama Barang</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.ItemDesc, new { @class = "form-control", placeholder = "Nama Barang" })
                        @Html.ValidationMessageFor(model => model.ItemDesc)
                    </div>

                    <div class="col-sm-1 control-label">Barcode</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Barcode, new { @class = "form-control", placeholder = "Barcode" })
                        @Html.ValidationMessageFor(model => model.Barcode)
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Kategori</div>
                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.Group_Code, ViewBag.GroupList as SelectList, new { @class = "form-control" })
                    </div>

                    <div class="col-sm-1 control-label">UoM</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.UoM, new { @class = "form-control", placeholder = "UoM" })
                        @Html.ValidationMessageFor(model => model.UoM)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Minimum Stock </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Buffer_Stock, new { @class = "form-control", placeholder = "100,000,000.00" })
                        @Html.ValidationMessageFor(model => model.Buffer_Stock)
                    </div>
                    <div class="col-sm-1 control-label">Vat Flag </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Vat_Flag, new { @class = "form-control", placeholder = "Vat Flag" })
                        @Html.ValidationMessageFor(model => model.Vat_Flag)
                    </div>

                </div>


                <div class="form-group">



                    <div class="col-sm-2 control-label">Konversi</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Conversion, new { @class = "form-control", placeholder = "Conversion" })
                        @Html.ValidationMessageFor(model => model.Conversion)
                    </div>

                    <div class="col-sm-1 control-label">Batch No</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.BatchNo, new { @class = "form-control", placeholder = "Batch No" })
                        @Html.ValidationMessageFor(model => model.BatchNo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Simpan</button>
                    </div>
                </div>
            }

            <div>
                <a href="@Url.Action("Index")"><i class="fa fa-reply"></i>&nbsp;&nbsp;Kembali</a>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        //$("#UserGroup").change
        $("#Buffer_Stock").on("keyup", null, function () {
            var $input = $(this),
                value = $input.val(),
                num = parseFloat(value).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
            $input.siblings('.Buffer_Stock').text('$' + num);
        });
    })

</script>