

@model Web.Dto.Company_ProfileDbo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Profil Perusahaan</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Profil Perusahaan</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Data Profil Perusahaan</h3>
        </div>
        <div class="box-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                //@Html.HiddenFor(model => model.company_name)

                <div class="form-group">
                    <div class="col-sm-2 control-label">Nama Perusahaan</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.company_name, new { @class = "form-control", placeholder = "Nama Perusahaan" })
                        @Html.ValidationMessageFor(model => model.company_name)
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Alamat Perusahaan</div>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(model => model.company_address, new { @class = "form-control", placeholder = "Alamat Perusahaan" })
                        @Html.ValidationMessageFor(model => model.company_address)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label"></div>
                    <div class="col-sm-4">
                        @Html.TextAreaFor(model => model.company_address2, new { @class = "form-control", placeholder = "Alamat Perusahaan2" })
                        @Html.ValidationMessageFor(model => model.company_address2)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Kota</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.city, new { @class = "form-control", placeholder = "City" })
                        @Html.ValidationMessageFor(model => model.city)
                    </div>

                    <div class="col-sm-1 control-label">Propinsi</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.area, new { @class = "form-control", placeholder = "Area" })
                        @Html.ValidationMessageFor(model => model.area)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Negara</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.country, new { @class = "form-control", placeholder = "Negara" })
                        @Html.ValidationMessageFor(model => model.telp_no)
                    </div>

                    <div class="col-sm-1 control-label">Kode Pos</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.zip, new { @class = "form-control", placeholder = "ZIP" })
                        @Html.ValidationMessageFor(model => model.zip)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">No Telp</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.telp_no, new { @class = "form-control", placeholder = "Telp No" })
                        @Html.ValidationMessageFor(model => model.telp_no)
                    </div>

                    <div class="col-sm-1 control-label">Email</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.email)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">WebSite</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.website_erp, new { @class = "form-control", placeholder = "Website Erp" })
                        @Html.ValidationMessageFor(model => model.website_erp)
                    </div>

                    <div class="col-sm-1 control-label">No. Sertifikat</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.certificate_no, new { @class = "form-control", placeholder = "No. Sertifikat" })
                        @Html.ValidationMessageFor(model => model.certificate_no)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Data NPWP</h3>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">NPWP</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.tax_id, new { @class = "form-control", placeholder = "ID Pajak" })
                        @Html.ValidationMessageFor(model => model.tax_id)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">Nama Sesuai NPWP</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.tax_name, new { @class = "form-control", placeholder = "Nama Pajak" })
                        @Html.ValidationMessageFor(model => model.tax_name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Alamat Sesuai NPWP</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.tax_address, new { @class = "form-control", placeholder = "Alamat Pajak" })
                        @Html.ValidationMessageFor(model => model.tax_address)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Data Pengurus Perusahaan</h3>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Direktur</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.director, new { @class = "form-control", placeholder = "Director" })
                        @Html.ValidationMessageFor(model => model.director)
                    </div>

                    <div class="col-sm-1 control-label">Keuangan</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.finance, new { @class = "form-control", placeholder = "Finance" })
                        @Html.ValidationMessageFor(model => model.finance)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Penanggung Jawab</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.PIC, new { @class = "form-control", placeholder = "PIC" })
                        @Html.ValidationMessageFor(model => model.PIC)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Data Rekening Perusahaan</h3>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Bank</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.bank, new { @class = "form-control", placeholder = "Nama Bank" })
                        @Html.ValidationMessageFor(model => model.bank)
                    </div>

                    <div class="col-sm-1 control-label">Atas Nama</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.account_name, new { @class = "form-control", placeholder = "Atas Nama" })
                        @Html.ValidationMessageFor(model => model.account_name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">Nomor Rekening</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.account_no, new { @class = "form-control", placeholder = "Nomor Rekening" })
                        @Html.ValidationMessageFor(model => model.account_no)
                    </div>

                    <div class="col-sm-1 control-label">Cabang Bank</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.bank_branch, new { @class = "form-control", placeholder = "Cabang Bank" })
                        @Html.ValidationMessageFor(model => model.bank_branch)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Logo</div>
                    <div class="col-sm-4">
                        @Html.ValidationSummary(true, "", new { @class = "text-dan1ger" })
                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.EditorFor(model => model.logo, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                                @Html.ValidationMessageFor(model => model.logo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div style="padding:10px;">
                            @if (Model != null)
                            {
                                var iPhotoUrl = "/UploadFiles/" + Model.logo;
                                <img src="@iPhotoUrl" class="img-responsive" style="width:200px; height:200px" />
                            }

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Update</button>
                    </div>
                </div>
            }

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@if (Model != null)
{
    <script type="text/javascript">
            $(function () {
                alert("okeh");
            });
    </script>
}*@
