
@model IEnumerable<Web.Dto.tbl_parameter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Parameter</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Parameter</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Data Parameter</h3>
        </div>
        <div class="box-body">
            <p>
                <a class="text-success" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Tambah</a>
            </p>
            <table id="mydatatable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th >
                            ID
                        </th>
                        <th>
                            Nama Tabel
                            @*@Html.DisplayNameFor(model => model.Username)*@
                        </th>

                        <th>
                            Kode Tabel
                            @*@Html.DisplayNameFor(model => model.FullName)*@
                        </th>
                        <th>
                            Nama Panjang
                            @*@Html.DisplayNameFor(model => model.LastLogin)*@
                        </th>
                        <th>
                            Nama Pendek
                            @*@Html.DisplayNameFor(model => model.LastLogin)*@
                        </th>

                        <th>
                            Nilai
                            @*@Html.DisplayNameFor(model => model.LastLogin)*@
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td >
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nama_tabel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.kode_tabel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nama_panjang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nama_pendek)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.nilai)
                            </td>
                            <td>
                                <a class="text-success" href="@Url.Action("Edit", new { id=item.id })" data-toggle="tooltip" title="Ubah"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                @*<a class="text-primary" href="@Url.Action("Details", new { id=item.id })" data-toggle="tooltip" title="Detail"><i class="fa fa-search"></i></a>&nbsp;&nbsp;*@
                                <a class="text-danger" href="@Url.Action("Delete", new { id=item.id  })" data-toggle="tooltip" title="Hapus" onclick="return confirm('Anda yakin akan menghapus item ini?')"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
