

@model Web.Dto.Master_Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Pegawai</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Pegawai</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Data Utama</h3>
        </div>
        <div class="box-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.EmployeeID)

                <div class="form-group">
                    <div class="col-sm-2 control-label">Kode Pegawai</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.EmployeeID, new { @class = "form-control", placeholder = "Kode Pegawai", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.EmployeeID)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Nama Pegawai</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.EmployeeName, new { @class = "form-control", placeholder = "Nama Pegawai", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.EmployeeName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Alamat</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", placeholder = "Alamat", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Address1)
                    </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", placeholder = "Alamat", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Address2)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Kota</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control", placeholder = "Kota", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.City)
                    </div>

                    <div class="col-sm-1 control-label">Propinsi</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Area, new { @class = "form-control", placeholder = "Area", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Area)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Negara</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control", placeholder = "Negara", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Country)
                    </div>

                    <div class="col-sm-1 control-label">Kode Pos</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", placeholder = "Kode Pos", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Zip)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">No. Telepon</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "No Telp", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>

                    <div class="col-sm-1 control-label">Email</div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Jenis Kelamin</div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(model => model.Gender_Desc, new { @class = "form-control", placeholder = "Jenis Kelamin", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Gender_Desc)
                    </div>
                    <div class="col-sm-3 control-label">Agama</div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(model => model.Religion_Desc, new { @class = "form-control", placeholder = "Agama", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Religion_Desc)
                    </div>
                    <div class="col-sm-1 control-label">Status</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.Status_Desc, new { @class = "form-control", placeholder = "Status", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Status_Desc)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Kartu Identitas</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.ID_Card_Desc, new { @class = "form-control", placeholder = "Kartu Identitas", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ID_Card_Desc)
                    </div>
                    <div class="col-sm-2 control-label">Nomor Kartu Identitas</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.ID_Card_No, new { @class = "form-control", placeholder = "Nomor Kartu Identitas", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ID_Card_No)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title"> </h3>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Gaji Pokok</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.Salary, new { @class = "form-control", placeholder = "Gaji Pokok", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Salary)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Tunjangan</h3>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Transportasi</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.Transport_Allowance, new { @class = "form-control", placeholder = "Tunjangan Transportasi", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Transport_Allowance)
                    </div>

                    <div class="col-sm-2 control-label">Makan</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.Meal_Allowance, new { @class = "form-control", placeholder = "Tunjangan Makan", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Meal_Allowance)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Jabatan</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.Position_Allowance, new { @class = "form-control", placeholder = "Tunjangan Jabatan", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Position_Allowance)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Data Wajib Pajak</h3>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">NPWP</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.TAXID, new { @class = "form-control", placeholder = "ID Pajak", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.TAXID)
                    </div>
                    <div class="col-sm-2 control-label">Nama Wajib Pajak </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.TAXName, new { @class = "form-control", placeholder = "Nama Pajak", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.TAXName)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Alamat Wajib Pajak </div>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(model => model.TaxAddress, new { @class = "form-control", placeholder = "Alamat Pajak", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.TaxAddress)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Data Bank</h3>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Nomor Rekening</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.bank_account, new { @class = "form-control", placeholder = "Akun Bank", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.bank_account)
                    </div>

                    <div class="col-sm-2 control-label">Nama Bank</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.bank_name, new { @class = "form-control", placeholder = "Nama Bank", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.bank_name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Cabang Bank</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.bank_branch, new { @class = "form-control", placeholder = "Cabang", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.bank_branch)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Data Lainnya</h3>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Tanggal Mulai Kontrak</div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(model => model.Start_Date, new { @class = "form-control", placeholder = "Tanggal Mulai Kontrak", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Start_Date)
                    </div>

                    <div class="col-sm-3 control-label">Tanggal Selesai Kontrak</div>
                    <div class="col-sm-1">
                        @Html.TextBoxFor(model => model.End_Date, new { @class = "form-control", placeholder = "Tanggal Selesai Kontrak", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.End_Date)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Departemen</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Department_Desc, new { @class = "form-control", placeholder = "Departemen", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Department_Desc)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Posisi</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Position_Desc, new { @class = "form-control", placeholder = "Posisi", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Position_Desc)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Penempatan</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.Placement, new { @class = "form-control", placeholder = "Penempatan", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.Placement)
                    </div>
                </div>
            }

            <div>
                <a href="@Url.Action("Index")"><i class="fa fa-reply"></i>&nbsp;&nbsp;Kembali</a>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
