@model IEnumerable<Web.Dto.GR_TransDbo>

@{
    var Item = Model.FirstOrDefault();
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
    }

    .ui-autocomplete {
        height: 100px;
    }
</style>


<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Detail GR</h3>
        </div>
        <div class="box-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "saveform", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="col-sm-2 control-label">Nomor PO</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => Item.PO_Number, new { id = "PO_Number", @class = "form-control", placeholder = "ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => Item.PO_Number)
                    </div>

                    <div class="col-sm-2 control-label">Tanggal PO </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => Item.tgl_po, new { id = "tgl_po", @class = "form-control" , disabled = "disabled" })
                        @Html.ValidationMessageFor(model => Item.tgl_po)
                    </div>
                </div>

                <div class="form-group">


                    <div class="col-sm-2 control-label">Nama Supplier</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => Item.supplier_name, new { id = "supplier_name", @class = "form-control", placeholder = "ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => Item.supplier_name)
                    </div>

                    <div class="col-sm-2 control-label">Kode Supplier</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => Item.supplier_id, new { id = "supplier_id", @class = "form-control", placeholder = "ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => Item.supplier_id)
                    </div>


                </div>
                <div class="form-group">

                    <div class="col-sm-2 control-label">Rencana Kirim</div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => Item.rencana_kirim, new { id = "rencana_kirim", @class = "form-control", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => Item.rencana_kirim)
                    </div>

                    <div class="col-sm-2 control-label">Cara Bayar</div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => Item.cara_bayar, new { id = "cara_bayar", @class = "form-control", placeholder = "ID", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => Item.cara_bayar)
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-2 control-label">Keterangan</div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => Item.PO_description, new { id = "PO_description", @class = "form-control", placeholder = "Keterangan" , disabled = "disabled" })
                        @Html.ValidationMessageFor(model => Item.PO_description)
                    </div>
                </div>

                <div class="box-header with-border">
                    <h3 class="box-title">Detail Barang</h3>
                </div>
                <br />

                <table id="tabelBarang" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Kode Barang
                            </th>
                            <th>
                                Nama Barang
                            </th>
                            <th class="text-center">Pesan</th>
                            <th class="text-center">Sisa</th>
                            <th class="text-center">Terima</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <tbody  id="tableBody">
                        @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.item_code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.item_name)
                                </td>
                                <td style='text-align:right'>
                                    @Html.DisplayFor(modelItem => item.qty)
                                </td>
                                <td style='text-align:right'>
                                    @Html.DisplayFor(modelItem => item.sisa)
                                </td>
                                <td style='text-align:center'>
                                    <input type='text' id='terima' name='terima' value='@item.sisa' style='width:50px;text-align:right;'>
                                </td>
                                <td style='text-align:center'>
                                    <input type='text' id='keterangan' name='keterangan' value='' style='width:100%;text-align:left;'>
                                </td>

                            </tr>
                        }*@
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2 text-right">
                        <button type="submit" name="savedata" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;&nbsp;Simpan</button>
                    </div>
                </div>
            }
            <div>
                <a href="@Url.Action("Index")"><i class="fa fa-reply"></i>&nbsp;&nbsp;Kembali</a>
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>

<script type="text/javascript">

    $(document).ready(function () {
        var po_no = $("#PO_Number").val();
            $.ajax({
                type: "post",
                url: "/PO/GetItemByPoNo?po_number=" + po_no,
                data: "[]",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var output = data.map(i => "<tr><td>" + i.item_code + "</td><td>" + i.item_name + "</td><td style='text-align:center'>" + i.qty + "</td><td style='text-align:center'>" + i.sisa + "</td><td style='text-align:center'><input type='text' id='terima' name='terima' value=0 style='width:50px;text-align:right;' onkeydown='return ValidateNumber(event);'></td><td><input type='text' id='remarks' name='remarks' style='width:100%;'></td></tr>");
                     $("#tableBody").html(output);
                }
            })
    });


    $('#saveform').submit(function () {
        var sTableName = document.getElementById("tabelBarang");
        var status = validateValue();
        if (status == false){
            Alert("Nilai Terima harus lebih kecil dari sisa");
        }
        else {
            var rows = [];
            for (var i = 1; i < sTableName.rows.length; i++) {
                var _item_code = sTableName.rows[i].cells[0].innerText;
                var _nama_barang = sTableName.rows[i].cells[1].innerText;
                var _pesan = sTableName.rows[i].cells[2].innerText;
                var _sisa = sTableName.rows[i].cells[3].innerText;
                var _terima = sTableName.rows[i].cells[4].firstChild.value;
                var _keterangan = sTableName.rows[i].cells[5].firstChild.value;
                var row = _item_code + "|" + _nama_barang + "|" + _pesan + "|" + _sisa + "|" + _terima + "|" + _keterangan;
                rows.push(row);
            }
            //row.cells[index].getElementsByName('inputcell' + index)[0].value;
            //detail -====================================================
            //insert to header====================
            var _ponumber = $("#PO_Number").val();
            var _podate = $("#tgl_po").val();
            var _supplier_id = $("#supplier_id").val();
            var _supplier_name = $("#supplier_name").val();
            var _rencana_kirim = $("#rencana_kirim").val();
            var _cara_bayar = $("#cara_bayar").val();
            var _po_desc = $("#PO_description").val();

            var _header = _ponumber + '|' + _podate + '|' + _supplier_id + '|' + _supplier_name + '|' + _rencana_kirim + '|' + _cara_bayar + '|' + _po_desc
            // header ============================
            $.post('@Url.Action("Create", "GR")', { rows: rows, header: _header }, function (data) {});
        }

    });

    function ValidateNumber(e) {
        var charCode;
        if (e.keyCode > 0) {
            charCode = e.which || e.keyCode;
        }
        else if (typeof (e.charCode) != "undefined") {
            charCode = e.which || e.keyCode;
        }
        if (charCode == 46)
            return true;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    };

    function validateValue() {
        /*alert('kadie');*/
        var sTableName = document.getElementById("tabelBarang");
        for (var i = 1; i < sTableName.rows.length; i++) {
            var _sisa = sTableName.rows[i].cells[3].innerText;
            var _terima = sTableName.rows[i].cells[4].firstChild.value;
            if (_terima > _sisa) {
                /*alert('Nilai Terima harus lebih kecil dari Sisa');*/
                return false;
            }
        }
        return true;
    }
</script>









