
@model IEnumerable<Web.Dto.GRDbo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Transaksi</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Penerimaan Barang</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Data Purchase Order</h3>
        </div>
        <div class="box-body">
            <p>

                @*<a class="btn btn-success " href="@Url.Action("Create")" role="button"><i class="fa fa-plus"></i> Tambah Data</a>*@

            </p>
            <table id="mydatatable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            No.PO
                        </th>
                        <th>
                            No.GR
                        </th>
                        <th>
                            Supplier
                        </th>

                        <th>
                            Tgl PO
                        </th>


                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PO_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GR_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.supplier_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tgl_po)
                            </td>
                          
                            <td>
                                @if (item.is_delete == 1 || item.is_delete == 2)
                                {
                                    <a class="text-success" href="@Url.Action("Print", new { gr_no = item.GR_Number })" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></a>
                                }
                                else
                                {
                                    <a class="text-success" href="@Url.Action("Create", new { po_no=item.PO_Number })" data-toggle="tooltip" title="Terima"><i class="fa fa-reply"></i></a>
                                    <a class="text-success" href="@Url.Action("Print", new { gr_no = item.GR_Number })" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></a>
                                }

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
