
@model IEnumerable<Web.Dto.Master_Klien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Data Client</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Parameter</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Data Client</h3>
        </div>
        <div class="box-body">
            <p>
                <a class="text-success" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Tambah</a>
            </p>
            <table id="mydatatable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Kode Klien
                            @*@Html.DisplayNameFor(model => model.Username)*@
                        </th>

                        <th>
                            Nama Klien
                            @*@Html.DisplayNameFor(model => model.FullName)*@
                        </th>
                        <th>
                            Alamat
                            @*@Html.DisplayNameFor(model => model.LastLogin)*@
                        </th>
                        <th>
                            No Telp
                            @*@Html.DisplayNameFor(model => model.LastLogin)*@
                        </th>
                        <th style="text-align:center">
                            Customer
                            @*@Html.DisplayNameFor(model => model.LastLogin)*@
                        </th>
                        <th style="text-align:center">
                            Supplier
                            @*@Html.DisplayNameFor(model => model.LastLogin)*@
                        </th>

                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.kode_klien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nama_klien)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.alamat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.no_telp)
                            </td>
                            <td style="text-align:center">
                                @if (string.Equals(item.is_customer, true))
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-remove"></i>
                                }
                            </td>
                            <td style="text-align:center">
                                @if (string.Equals(item.is_supplier, true))
                                {
                                    <i class="fa fa-check"></i>
                                }
                                else
                                {
                                    <i class="fa fa-remove"></i>
                                }
                            </td>

                            <td>
                                <a class="text-primary" href="@Url.Action("Details", new { client_code=item.kode_klien })" data-toggle="tooltip" title="Detail"><i class="fa fa-search"></i></a>&nbsp;&nbsp;
                                <a class="text-success" href="@Url.Action("Edit", new { client_code=item.kode_klien })" data-toggle="tooltip" title="Ubah"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                <a class="text-danger" href="@Url.Action("Delete", new { client_code=item.kode_klien })" data-toggle="tooltip" title="Hapus" onclick="return confirm('Anda yakin akan menghapus item ini?')"><i class="fa fa-remove"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
